<div class="computer tablet only">
    <div class="ui large fixed menu navbar">
        <a href="" class="brand item">Project Name</a>
        <a href="" class="active item">Link</a>
        <a href="" class="item">Link</a>
        <a href="" class="item">Link</a>
        <a class="ui dropdown item">Dropdown
            <i class="dropdown icon"></i>
            <div class="menu">
                <div class="item">Action</div>
                <div class="item">Another action</div>
                <div class="item">Something else here</div>
                <div class="ui divider"></div>
                <div class="item">Seperated link</div>
                <div class="item">One more seperated link</div>
            </div>
        </a>
    </div>
</div>

<div class="mobile only narrow">
    <div class="ui navbar menu">
        <a href="" class="brand item">Project Name</a>
        <div class="right menu open">
            <a href="" class="menu item">
                <i class="reorder icon"></i>
            </a>
        </div>
    </div>
    <div class="ui large vertical navbar menu">
        <a href="" class="active item">Link</a>
        <a href="" class="item">Link</a>
        <a href="" class="item">Link</a>
        <div class="ui item">
            <div class="text">Dropdown</div>
            <div class="menu">
                <a class="item">Action</a>
                <a class="item">Another action</a>
                <a class="item">Something else here</a>
                <a class="ui aider"></a>
                <a class="item">Seperated link</a>
                <a class="item">One more seperated link</a>
            </div>
        </div>
        <div class="menu">
            <a href="" class="active item">Default</a>
            <a href="" class="item">Static top</a>
            <a href="" class="item">Fixed top</a>
        </div>
    </div>
</div>

<div class="ui main text container">
    {{outlet}}
</div>

<div class="ui inverted vertical footer segment">
    <div class="ui center aligned container">
        <div class="ui stackable inverted divided grid">
            <div class="three wide column">
                <h4 class="ui inverted header">Group 1</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">Link One</a>
                    <a href="#" class="item">Link Two</a>
                    <a href="#" class="item">Link Three</a>
                    <a href="#" class="item">Link Four</a>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header">Group 2</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">Link One</a>
                    <a href="#" class="item">Link Two</a>
                    <a href="#" class="item">Link Three</a>
                    <a href="#" class="item">Link Four</a>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header">Group 3</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">Link One</a>
                    <a href="#" class="item">Link Two</a>
                    <a href="#" class="item">Link Three</a>
                    <a href="#" class="item">Link Four</a>
                </div>
            </div>
            <div class="seven wide column">
                <h4 class="ui inverted header">Footer Header</h4>
                <p>Extra space for a call to action inside the footer that could help re-engage users.</p>
            </div>
        </div>
        <div class="ui inverted section divider"></div>
        <div class="ui horizontal inverted small divided link list">
            <a class="item" href="#">Site Map</a>
            <a class="item" href="#">Contact Us</a>
            <a class="item" href="#">Terms and Conditions</a>
            <a class="item" href="#">Privacy Policy</a>
        </div>
    </div>
</div>

