{{#responsive-menu}}
    <div class="computer tablet only row">
        <div class="ui large fixed navbar menu page grid">
            {{#link-to "index" class="brand item"}}{{site-config "name"}}{{/link-to}}
            {{#link-to "matches" class="item"}}Matches{{/link-to}}
            {{#link-to "rankings" class="item"}}Rankings{{/link-to}}
            <a class="ui dropdown item">Scoreboards
                <i class="dropdown icon"></i>
                <div class="menu">
                    {{#link-to "scoreboard" class="item"}}Foosball{{/link-to}}
                </div>
            </a>
        </div>
    </div>
    <div class="mobile only row">
        <div class="ui large fixed navbar menu">
            {{#link-to "index" class="brand item"}}{{site-config "name"}}{{/link-to}}
            <div class="right menu open">
                <a href="" class="menu item">
                    <i class="sidebar icon"></i>
                </a>
            </div>
        </div>
        <div class="ui vertical navbar menu">
            {{#link-to "matches" class="item"}}Matches{{/link-to}}
            {{#link-to "rankings" class="item"}}Rankings{{/link-to}}
            <div class="ui item">
                <div class="text">Scoreboards</div>
                <div class="menu">
                    {{#link-to "scoreboard" class="item"}}Foosball{{/link-to}}
                </div>
            </div>
        </div>
    </div>
{{/responsive-menu}}

<div class="ui main container">
    {{outlet}}
</div>

<div class="ui inverted vertical footer segment">
    <div class="ui center aligned container">
        <div class="item">Copyright &copy; {{siteConfig "name"}}</div>
        <div class="ui horizontal inverted small divided link list">
            <div class="item">Powered by <strong>Goal Sentry</strong></div>
            <a class="item" href="#"><i class="github icon"></i> GitHub</a>
        </div>
    </div>
</div>

