{{#responsive-menu}}
    <div class="computer tablet only row">
        <div class="ui large fixed navbar menu page grid">
            {{#link-to "index" class="brand item"}}{{site-config "name"}}{{/link-to}}
            {{#link-to "matches" class="item"}}Matches{{/link-to}}
            {{#link-to "rankings" class="item"}}Rankings{{/link-to}}
            <div class="menu right">
                {{#link-to "live" class="item"}}
                    <button class="ui labeled red icon button">
                        <i class="record icon"></i>
                        Watch Live Match
                    </button>
                {{/link-to}}
            </div>
        </div>
    </div>
    <div class="mobile only row">
        <div class="ui large fixed navbar menu">
            {{#link-to "index" class="brand item"}}{{site-config "name"}}{{/link-to}}
            <div class="right menu open">
                <a href="" class="menu item">
                    <i class="sidebar icon"></i>
                </a>
            </div>
        </div>
        <div class="ui vertical navbar menu">
            {{#link-to "matches" class="item"}}Matches{{/link-to}}
            {{#link-to "rankings" class="item"}}Rankings{{/link-to}}
            {{#link-to "live" class="item"}}
                <button class="ui labeled red icon button">
                    <i class="record icon"></i>
                    Watch Live Match
                </button>
            {{/link-to}}
        </div>
    </div>
{{/responsive-menu}}

<div class="ui main container">
    {{outlet}}
</div>

<div class="ui inverted vertical footer segment">
    <div class="ui center aligned container">
        <div class="item">Copyright &copy; {{siteConfig "name"}}</div>
        <div class="ui horizontal inverted small divided link list">
            <div class="item">Powered by <strong>Goal Sentry</strong></div>
            <a class="item" href="#"><i class="github icon"></i> GitHub</a>
        </div>
    </div>
</div>

