<h1 class="ui dividing header">Live Match</h1>

<div class="ui stackable two column grid">
    <div class="column">
        <div class="ui top attached segment">
            <h4 class="ui image header">
                <img src="https://placehold.it/800x800" class="ui mini rounded image">
                <div class="content">
                    Lindsay
                    <div class="sub header">2 Points</div>
                </div>
            </h4>
        </div>
        <div class="ui attached segment">
            {{flip-clock}}
        </div>
    </div>
    <div class="column">
        <div class="ui top attached segment">
            <h4 class="ui image header">
                <img src="https://placehold.it/800x800" class="ui mini rounded image">
                <div class="content">
                    Lindsay
                    <div class="sub header">2 Points</div>
                </div>
            </h4>
        </div>
        <div class="ui attached segment">
            {{flip-clock}}
        </div>
    </div>
</div>




{{outlet}}
